@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  @font-face {
    font-family: Soleto Regular;
    font-weight: normal;
    src: url(/src/fonts/soleto/Soleto-Regular.woff) format("woff");
  }
  @font-face {
    font-family: Soleto Regular;
    font-weight: normal;
    src: url(/src/fonts/soleto/Soleto-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: Soleto Regular;
    font-weight: normal;
    src: url(/src/fonts/soleto/Soleto-Regular.eot) format("eot");
  }
  @font-face {
    font-family: Soleto Regular;
    font-weight: normal;
    src: url(/src/fonts/soleto/Soleto-Regular.ttf) format("ttf");
  }
} */

html,
body {
  scroll-behavior: smooth;
  background-color: rgb(247, 247, 247);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: Soleto Regular, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
